.first_nav {
  background-color: #fff;
  width: 100%;
  position: static;
  /* height: 30px; */
}

.first_nav_logo {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

.second_nav {
}

.navbar_info {
  display: flex;
  justify-content: space-around;
  width: 800px;
}

.toolbar {
  display: flex;
  justify-content: space-between;
}

.button_construction {
  background-color: #ffd600;
  color: #fff !important;
  font-size: 16px;
  width: 225px;
  height: 40px;
  border-radius: 10px;
  margin-left: 140px;
}

.about {
  width: 50px;
  font-size: 18px;
  font-weight: normal;
  position: relative;
}

.lang {
  margin-left: 40px;
}

.logo_social {
  margin-left: 25px;
}

.social_network {
  display: flex;
  justify-content: space-evenly;
}

.burger_menu {
  flex-wrap: wrap;
}

.click[type="checkbox"] {
  display: none;
}

.example {
  width: 300px;
  background-color: red;
}

@media (max-width: 920px) {
  .fas_fa_bars {
    display: block;
  }
  .click:checked ~ .menu_btn i:before {
    content: "\f00d";
  }
  .first_nav {
    display: none;
  }
  /* nav ul {
    position: fixed;
    top: 80px;
    left: -100%;
    background: #111;
    height: 100vh;
    width: 100%;
    text-align: center;
    display: block;
    transition: all 0.3s ease;
  }
  #click:checked ~ ul {
    left: 0;
  }
  nav ul li {
    width: 100%;
    margin: 40px 0;
  }
  nav ul li a {
    width: 100%;
    margin-left: -100%;
    display: block;
    font-size: 20px;
    transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  #click:checked ~ ul li a {
    margin-left: 0px;
  }
  nav ul li a.active,
  nav ul li a:hover {
    background: none;
    color: cyan;
  } */
}

.iconButtonContainer {
  margin-left: auto !important;
  background-color: white !important;
  width: 100px;
  height: 50px;
}

.popup_window {
  position: absolute;
  width: 180px;
  height: 140px;
  top: 50px;
  z-index: 99;
  left: 0px;
  /* border: 2px solid black; */
  background-color: white;
  font-size: 18px;
  color: #000;
  padding-top: 30px;
  display: none;
  text-align: center;
}

.about:hover span {
  display: block;
}
