.calc_title_name {
  font-weight: 700 bold;
  font-size: 48px;
  margin-left: 130px;
  /* line-height: 4px; */
  height: 58px;
  margin-bottom: 0;
}

.calc_title_line {
  width: 510px;
  margin-left: 0;
  height: 9px;
  /* border: none; */
  background-color: #00512e;
}

.news {
  width: 380px;
  height: 550px;
  padding: 0;
  margin-right: 0;
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); */
  border-radius: 10px;
  margin-left: 40px;
}

.title_name {
  font-size: 24px !important;
  color: #00512e;
  margin-bottom: 5px;
  font-weight: 700 bold;
}

.titleP_main {
  padding-left: 30px;
  font-size: 14px;
  font-weight: 400 bold;
}

.teammates {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  flex-wrap: wrap;
}

.first_team {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 90px;
}

.ihs_first {
  font-size: 36px;
  color: #00512e;
}

.second_team {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 90px;
}

.pclass {
  color: #ffd600;
  font-size: 24px;
  text-align: right;
}

@media only screen and (max-width: 992px) {
  .first_team {
    display: block;
  }
  .ihs_first {
    text-align: center;
  }
  .second_team {
    display: block;
  }
  .calc_title_name {
    margin-left: 0;
    padding-bottom: 150px;
  }
  .calc_title_line {
    width: 100%;
  }
}
